<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/feed.css">
    <title>InstagramFeed</title>
</head>

<body>
    <div id="modal_container">
        <div id="modal_contents" onclick="closeModal();">
            <div id="menu_container">
                <button class="menu-btn btn-red">부적절한콘텐츠신고</button>
                <button class="menu-btn btn-red">팔로우취소</button>
                <button class="menu-btn">게시물로이동</button>
                <button class="menu-btn">취소</button>
            </div>
        </div>
        <div id="modal_background" onclick="closeModal();"></div>
    </div>
    <div class="top">
        <div class="top_content">
            <div id="top_logo">
                <div id="insta_logo_img" onclick="document.location.href = '';"></div>
                <div id="vertical"></div>
                <div id="insta_letter_img" onclick="document.location.href = '';"></div>
            </div>
            <div id="top_search">
                <input id="textFind" type="text" placeholder="검색" style="text-align: center">
            </div>
            <div id="top_icorn">
                <div id="find_img"></div>
                <!-- <div id="like_img" onclick="document.location.href = 'login.html';"></div> -->
                <div id="like_img"></div>
                <!-- <a href="profile.html" id="profile_img"></a> -->
                <div id="profile_img" onclick="document.location.href = '/profile';"></div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="main_contentWrap">
            <div class="feedWrap">
                <!-- <div class="feed">
                    <div class="feed_header">
                        <div class="header_imgWrap">
                            <div class="header_img" style="background-image: url('profile_img.png')"></div>
                        </div>

                        <p style="text-align: center">
                            <strog>seonnhye</strog>
                        </p>

                        <div class="header_iconWrap">
                            <a onclick="showModal();">
                                <div class="header_icon" style="background-image: url('modal.png')"></div>
                            </a>
                        </div>
                    </div>

                    <div class="feed_body">
                        <div class="picture" style="background-image: url('img1.jpg')"></div>
                    </div>

                    <div class="feed_bottom">
                        <div class = "bottom_iconWrap">
                                <div class = "like_img2" onclick="like()"></div>                               
                                <div class = "comment_img"></div>
                                <div class = "share_img"></div>
                                <div class = "save_img"></div>                         
                        </div>
                       
                        <div class = "likeNumberWrap">
                            <div class = "profile_img2"></div>
                            <div class = "likeNumber" style="font-size: 14px"><strong>dongjun</strong>님<strong>외 99명</strong>이 좋아합니다.</div>
                        </div>
                        <div class = "infoWrap">
                            <div class = "info">
                                <div class = "explain"><strong>seonhye</strong>Jeju-do</div>
                                <div class = "commentNumber" style="color: #999999;">댓글 99개 모두 보기</div>
                                <div class = "comment">
                                    <strong>dongjun</strong>
                                    <div class = "heart_img"></div>
                                </div>
                            </div>
                        </div>
                       
                        <div class = "timeWrap">
                            <div class = "time" style="font-size: 10px; color: #999999">1일전</div>
                        </div>
                        
                        <div class = "replyWrap">
                            <input class="reply" type="text" placeholder="  댓글 달기..." >
                       </div>

                    </div>
                </div>

                <div class="feed">
                    <div class="feed_header">

                    </div>

                    <div class="feed_body">

                    </div>

                    <div class="feed_bottom">

                    </div>
                </div>

                <div class="feed">
                    <div class="feed_header">

                    </div>

                    <div class="feed_body">

                    </div>

                    <div class="feed_bottom">

                    </div>
                </div> -->

            </div>
        </div>
    </div>
</body>
<script src="/javascripts/feed.js"></script>
</html>