<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>profile</title>
</head>

<body>
    <div id="modal_container">
        <div id="modal_contents">
            <img alt="사진" height="600px">
        </div>
    </div>

    <div class="top">
        <div class="top_content">
            <div id="top_logo">
                <div id="insta_logo_img" onclick="document.location.href = '/feed';"></div>
                <div id="vertical"></div>
                <div id="insta_letter_img" onclick="document.location.href = '/feed'"></div>
            </div>
            <div id="top_search">
                <input id="textFind" type="text" placeholder="검색" style="text-align: center">
            </div>
            <div id="top_icorn">
                <div id="find_img"></div>
                <div id="like_img" onclick="document.location.href = '/';"></div>
                <div id="profile_img" onclick="document.location.href = ''"></div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main_contentWrap">
            <div id="main_content">
                <div class="profile_leftWrap">
                    <div id="profile_left">
                        <div id="profileImage_img"></div>
                    </div>
                </div>
                <div class="profile_rightWrap">
                    <div id="info1">
                        <p>seonn_hye</p>
                        <input id="edit" type="button" value="프로필 편집">
                        <div id="setting_img"></div>
                    </div>
                    <div id="info2">
                        <div id="numberOfFeed">게시물<strong>5</strong></div>
                        <div id="follower">팔로워<strong>152</strong> </div>
                        <div id="follow">팔로우<strong>194</strong></div>
                    </div>
                    <div id="info3">
                        <div><strong>Dongjun & Seonhye</strong></div>
                        <span>2013.01.27</span>
                    </div>
                </div>
            </div>

            <div class="postWrap">
                <div id="post">
                    <div class="post_info">
                        <img src="/images/profile/게시물.png">
                        <img src="/images/profile/IGTV.png">
                        <img src="/images/profile/저장됨.png">
                        <img src="/images/profile/태그됨.png">
                    </div>
                    <div class="post_img">
                        <!-- <div class="postline">
                            <div class="imgset">
                                <div class="picture" style="background-image: url('img1.jpg')"></div>
                                <div class="cover">
                                    <div class="infoWrap">
                                        <div class="info_content" style="background-image: url('like-white.png');">
                                            <p>100</p>
                                        </div>
                                        <div class="info_content" style="background-image: url('comment-white.png');">
                                            <p>100</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="imgset">
                                <div class="picture" style="background-image: url('img2.jpg')"></div>
                                <div class="cover"></div>
                            </div>

                            <div class="imgset nomargin">
                                <div class="picture" style="background-image: url('img3.jpg')"></div>
                                <div class="cover"></div>
                            </div>
                        </div>

                        <div class="postline">
                            <div class="imgset">
                                <div class="picture" style="background-image: url('img4.jpg')"></div>
                                <div class="cover"></div>
                            </div>

                            <div class="imgset">
                                <div class="picture" style="background-image: url('img5.jpg')"></div>
                                <div class="cover"></div>
                            </div>

                            <div class="imgset nomargin">
                                <div class="picture" style="background-image: url('img6.jpg')"></div>
                                <div class="cover"></div>
                            </div>
                        </div>

                        <div class="postline">
                            <div class="imgset">
                                <div class="picture" style="background-image: url('img7.jpg')"></div>
                                <div class="cover"></div>
                            </div>

                            <div class="imgset">
                                <div class="picture"></div>
                                <div class="cover">
                                    <div class="infomation">
                                        <div style="background-image: url('like-white.png'); background-size: 20px;">
                                            100</div>
                                        <div sylte="background-image: url('comment-white.png'); background-size: 20px;">
                                            100</div>
                                    </div>
                                </div>
                            </div>

                            <div class="imgset nomargin">
                                <div class="picture" style=""></div>
                                <div class="cover"></div>
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

<script src="/javascripts/profile.js">
</script>

</html>