body{
    height:100%;
}

.top{
    width: 100%;
    height: 58px;
    padding:0;
    border-bottom: 1px solid #c7c2c2;
    margin:0;
    background-color: white;
    
}

.top_content{

    display: flex;
    width: 100%;
    height: 25px;
    border:0;
    position:0;
    padding-top: 20px;
}

#top_logo{
    display: flex;
    float: left;
    border: 1px;
    height :100%;
    margin-left: 160px;
}

#insta_logo_img{

    width:24px;
    height: 24px;
    padding: 0;
    border: 0;
    margin: 0;
    background-image: url("../images/profile/instagram-logo.png");
    background-repeat: no-repeat;
    background-size: 24px;
}

#vertical{

  border-right: 1px solid black;
  width: 24px;
  height:24px;
}

#insta_letter_img{

    width: 70px;
    height: 24px;
    padding: 0;
    border: 0;
    margin: 0px 24px;
    background-image: url("../images/profile/instagram.png");
    background-repeat: no-repeat;
    background-size: 68px;
}

#top_search{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 0.1px solid #c7c2c2;
}

#textfind{
    width: 199px;
    height: 15px;
    padding: 7px;
    margin: 17px;
    border: 0.5px solid #EFEFEF;
    background-color: #fcf7f7;
    color: #999999;
    text-align: center;
    font-size: 14px;
}

#top_icorn{

    display: flex;
    padding: 0;
    border: 0;
    margin-right: 160px;
}

#find_img{
    width:24px;
    height: 24px;
    margin-right: 20px;
    background-image: url("../images/profile/find.png");
    background-repeat: no-repeat;
    background-size: 24px;
}
#like_img{
    width:24px;
    height: 24px;
    margin-right: 20px;
    background-image: url("../images/profile/like.png");
    background-repeat: no-repeat;
    background-size: 24px;
}
#profile_img{
    width:24px;
    height: 24px;
    background-image: url("../images/profile/profile.png");
    background-repeat: no-repeat;
    background-size: 24px;
}

.main{
    width: auto;
    height: 100%;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.main_contentWrap{
    max-width: 935px;
    padding: 60px 20px 0px 20px;
    margin: 0 auto; 
}

#main_content{
    width: 935px;
    height: 150px;
    display: flex;
    border-bottom: 0.5px solid #c7c2c2;
    margin-top: -30px;
    padding-bottom: 30px;
}

.profile_leftWrap{
  width:290px;
  height: 150px;
  display: left;
  margin-right: 30px;
}

#profile_left{
    width: 150px;
    height: 150px;
    margin: 0px 70px;
}

#profileImage_img{
  background-image: url("../images/profile/profile_img.png");
  background-size: 150px;
  width: 150px;
  height: 150px;
}

.profile_rightWrap{
    width: 613px;
    height: 150px;
    display: right;

}

#info1{
    width:250px;
    display: flex;
}

info1,p{
    font-size: 24px;
    margin-top: 0px;
    display: flex;
    float: left;
}

#edit{
    height: 25px;
    margin-top: 9px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}


#setting_img{
    background-image: url("../images/profile/setting.png");
    background-size: 24px;
    width: 24px;
    background-repeat: no-repeat;
    margin-top: 9px;
    display: flex;
}

#info2{
    width: 300px;
    display: flex;
    margin-bottom: 20px;
}

#numberOfFeed{
    float: left;
}

#follower{
    margin-left: auto;
    margin-right: auto;
}

#info{
    height: 42px;
    width: 150px;
}

.postWrap{
    width: 100%;
}

.post_info{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:20px;
}

.post_info > img {
    margin: 0 15px;
}

.post_img{
    width:100%;
    display: flex;
    flex-direction: column;
}

.postline{
    margin-bottom: 28px;
    height: 293px;
    display: flex;
    flex-direction: row;
}

.picture{
    position: absolute;
    width:293px;
    height:293px;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgset {
    width: 293px;
    margin-right: 8px;
}

.imgset.nomargin {
    margin-right: 0;
}

.imgset > .cover {
    display: none;
    width: 293px;
    height: 293px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.imgset:hover >.cover{
    display: flex;
    justify-content: center;
}

.information{
    width: 293px;
    height: 293px;
    text-align: center;
}

#modal_container {
    display: none;
    position: fixed;
    z-index: 98;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

}

#modal_contents {
    top: 40%;
    z-index: 999;
    margin: 0 auto;
    width: fit-content;
}

.infoWrap {
    display: flex;
    justify-content: center;
    margin-top: 48%;
    pointer-events: none;
}

.info_content {
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
}

.info_content > p {
    color: white;
    margin-left: 26px;
    margin-right: 18px;
    margin-top: -6px;
}